{% extends "logged_in_base_template.html" %}

{% block title %}
	Creating Form
{% endblock %}

{% block mainblock %}
    <h3>On this site you can create your form.</h3>
    <h1>Your new event:</h1>
    Event title: <input type="text" name="title"></BR>
    <h4>Required informations:</h4>
	    Category: <input list="category" name="category" value="Sport">
			<datalist id="category">
				<option value="Sport">
				<option value="2">
				<option value="3">
				<option value="4">
				<option value="5">
			</datalist></BR>
		Event registration status: <input type="radio" name="on" value="on" checked>open   <input type="radio" name="off" value="off">close </BR>
	    Max participants: <input type="number" name="max_patricipants" min="0" max="999" value="0"></BR>
	    Price: <input type="number" name="price" min="0" max="9999" value="0"></BR>
	    Location: <input type="text" name="location"></BR>
	    From: <input type="date" name="from"><input type="time" name="from_time"></BR>
	    To: <input type="date" name="to"><input type="time" name="to_time"></BR>
	    Description:</BR>
	    <input type="text" name="desctiption" style="width:240px; height:60px;"></BR>

	<h4>Additional informations:</h4>
	    <input type="checkbox" name="f_n" value="yes" checked> File: <input type="file" name="file"></BR>
	    <input type="submit" value="Next file"></BR>

	<h4><input type="checkbox" name="g_n" value="yes" checked>Gifts:</h4>
	    Gift name: <input type="text" name="giftname"></BR>
	    <input type="checkbox" name="a" value="yes" checked> Amount: <input type="number" name="amount" min="1" max="9999" value="100"></BR>
		<input type="submit" value="Next gift"></BR>

    <h4><input type="checkbox" name="s_e_s" value="yes" checked> Small events schedule:</h4>
	    Event name: <input type="text" name="event_name"></BR>
	    From: <input type="date" name="event_from"><input type="time" name="event_from_time"></BR>
	    To: <input type="date" name="event_to"><input type="time" name="event_to_time"></BR>
	    <input type="checkbox" name="d" value="yes" checked> Description:</BR>
	    <input type="text" name="desctiption" style="width:240px; height:60px;"></BR>
	    <input type="submit" value="Next small event"></BR>

	<h3>Create form! <input type="submit" value="Submit"></h3>
	

{% endblock %}