{% extends "sign_up_for_event_template.html" %}

{% load static %}
{% block headformblock %}
{{ form.media }}
{% endblock %}


{% block eventdetailsblock %}

<div class="page-header">
        <h2 class="text-center text-uppercase">{{ event.title }}</h2>
</div>

    <div class="row">
        <div class="col-lg-4"><b>Category:</b> {{ event.category.name }}</div>
        <div class="col-lg-4">
            <b>Registration Status:</b>
            {% if event.status.id == 1 %}
            <span class="label label-success">Open</span>
            {% else %}
            <span class="label label-danger">Closed</span>
            {% endif %}

        </div>
        <div class="col-lg-4"><b>Participants:</b> {{ event.max_participants }}</div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-4"><b>Price:</b> {{ event.price }}</div>
        <div class="col-lg-4"><b>From:</b> {{ event.start_date }}</div>
        <div class="col-lg-4"><b>To:</b> {{ event.end_date }}</div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12"><b>Description:</b> </div>
        <div class=col-lg-12>{{ event.description }}</div>
    </div>


{% endblock %}

{% block formblock %}
    <form action="/form_response/register/" method="post">
        {% csrf_token %}
        <input type="hidden" name="eventId" value="{{ event.id }}"/>
        {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}<br/> {{ field }}
            </div>
        {% endfor %}
        <div class="form-row">
        <input type="submit" value="Sign up for Event" class="btn btn-block btn-success"/>
            </div>
    </form>
    <script>
    $(document).ready(function (){
        status ='{{ event.status }}';
        if( status === 'Closed'){
            $('input').prop('disabled',true);
        }
    });
</script>
{% endblock %}

